<p><h2>Videos</h2></p><br />
<%= will_paginate @videos %>
	<div class = "video_container">
		<% for video in @videos do %>

		  <a href = "<%= video_url(video) %>" class = "video_thumb">
			  
		  		<%= video.thumbnail ? image_tag(video.thumbnail.public_filename) : "No Thumbnail Available" %>
		  		<p><%= video.title %></p>
		  	
		 	</a>

		<% end %>
		.
	</div><!-- /video_container -->
<div class = "clear-right">.</div>
		<%= will_paginate @videos, :class => "pagination page-wide" %>
		 	
	<br />

