<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

  <head>
    <title>Video App</title>
      <%= stylesheet_link_tag 'style' %>

  		<%= javascript_include_tag 'flowplayer', 'jquery' %>   
  </head>

  <body>
  	<div id = "header">
  		<input id = "search" type = "text" value = "Search"/>
  		<div id = "logo"><a href = "/">video_app</a></div>
  	</div>

    
    <div id = "body">
    	<div id = "sidebar">
	    	<%= link_to 'New Video', new_video_url, :class => 'new' %><br /><br />
			  <% tag_cloud @tag_cloud, %w(css1 css2 css3 css4) do |tag, css_class| %>
			    <%= link_to tag.name, '/tags/'  + tag.name , :class => css_class %>
			  <% end %>
	    	
    	</div>
    	
    	<div id = "main"
		    <% flash.each do |key,value| %>

		      <div id="flash" class="flash_<%= key %>" >
		        <span class="message"><%= value %></span>
		      </div>

		    <% end -%>

		    <%= yield :layout %>
				<div class = "clearing" /> 
			</div><!-- /main -->
		</div><!-- /#body -->
		<div id = "footer">Developer by <a href = "http://ralphedge.com">Ralph Edge</a></div>
  </body>

</html>

